@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-image:linear-gradient(rgba(0, 0, 0,0.6),rgba(0, 0, 0,0.6)), url(../assets/img/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.container {
  position: relative;
  max-width: 700px;
  width: 100%;
  background: transparent;
  backdrop-filter: blur(9px);
  border: 2px solid rgba(255, 255, 255, .2);
  color: #fff;
  border-radius: 12px;
  padding: 30px 40px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.container header {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 500;
  text-align: center;
}
.container .form {
  margin-top: 30px;
}
.form .input-box {
  width: 100%;
  margin-top: 20px;
}
::placeholder{
  color: #c9bfbf;
}
.input-box label {
  color: #fff;
}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  font-size: 1rem;
  color: #ccc5c5;
  margin-top: 8px;
  border-radius: 6px;
  padding: 0 15px;
  background: transparent;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
}
.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
  display: flex;
  column-gap: 15px;
}


.address :where(input, .select-box) {
  margin-top: 15px;
}
.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
}
.form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(130, 106, 251);
}
.form button:hover {
  background: rgb(88, 56, 250);
}
/*Responsive*/
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}
